.button {
    background-color: inherit;
    border-radius: var(--borderRadius);
    border: 0;
    font-size: 0.875rem;
    font-weight: var(--normal);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    gap: 0.8rem;
}

.icon-button {
    justify-content: center;;
    padding: 0;
}