.sidebar {
    background-color: var(--lightGrey);
    border-right: 1px solid var(--mediumGrey);
    grid-column: 1 / 3;
    padding: 1rem 0;
    display: flex;
    font-size: 0.875rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    ul, li {
        width: 100%;
    }

    .list-item {
        display: flex;

        &:hover {
            background-color: var(--mediumGrey);
        }
    }

    .delete-project {
        padding: 0;
        align-self: center;
        margin-right: 0.5rem;
    }

    .add-project {
        padding: 0.2rem 1rem;
        &.hidden {
            display: none;
        }
    }

    .project-item {
        display: flex;
        position: relative;

        &:hover {
            background-color: var(--mediumGrey);
            transition: all ease-in 0.2s;
        }
    }

    .project-link {
        padding: 0.5rem 1rem;
        flex: 1;

        &.active {
            background-color: var(--mediumGrey);
        }
    }
}