@import url("utils/button.css");
@import url("utils/dropdown.css");
@import url("utils/form.css");
@import url("utils/input.css");
@import url("utils/label.css");
@import url("utils/list.css");
@import url("utils/select.css");
@import url("utils/modal.css");
@import url("utils/typography.css");

@import url("components/sidebar.css");
@import url("components/todos.css");

:root {
    /* colors */
    --black: #2e2e2e;
    --white: #ffffff;
    --lightGrey: #fafafa;
    --mediumGrey: #f1f1f1;
    --darkGrey: #949494;
    --yellow: #C78F57;
    --red: #B54754;
    --blue: #85ABAB;

    /* borders */
    --mediumGreyBorder: 1px solid var(--darkGrey);

    /* fonts */
    --normal: 400;
    --medium: 500;
    --semi-bold: 600;
    
    /* misc */
    --borderRadius: 4px;
    --basePadding: 1rem;
    --baseBoxShadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
    font-family: "Poppins", Helvetica, Arial, system-ui, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    color: var(--black);
}

body,
.container {
    background-color: var(--white);
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100vh;
}

.icon {
    width: 1rem;
    aspect-ratio: 1 / 1;
}

.main-content {
    position: relative;
    grid-column: 3 / 13;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}