:root {
    --black: #2e2e2e;
    --white: #ffffff;
    --lightgrey: #fafafa;
    --medlightgrey: #f1f1f1;
    --darkgrey: #949494;
    --yellow: #C78F57;
    --red: #B54754;
    --blue: #85ABAB;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: "Poppins", Helvetica, Arial, system-ui, sans-serif;
}

body {
    background-color: var(--white);
    color: var(--black);
}

ul,
li {
    list-style-type: none;
}

h2 {
    font-weight: 600;
    padding: 1rem 0;
}

button {
    border: 0;
    cursor: pointer;
    background-color: transparent;

    &.icon-button {
        width: 18px;
        aspect-ratio: 1 / 1;
    }
}

input[type=text],
textarea,
select {
    border: 1px solid var(--darkgrey);
    border-radius: 6px;
    font-size: 1rem;

    &::placeholder {
        font-size: 0.875rem;
        color: var(--darkgrey);
    }

    &.seamless {
        border: 0;
    }
}

input[type=checkbox] {
    width: 18px;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
}

.form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 2 / 12;
    grid-row: 2 / 12;
    align-content: baseline;
    gap: 1rem;

    > * {
        grid-column: 1/ 13;
    }

    input, 
    textarea, 
    select {
        padding: 0.3rem 0.5rem;
        font-size: 0.875rem;
    }

    .field {
        display: flex;
        flex-direction: column;
    }

    .label {
        font-weight: 500;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
    }
}

.icon {
    width: 1rem;
}

.hide {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100vh;
}

.sidebar {
    background-color: var(--lightgrey);
    border-right: 1px solid var(--medlightgrey);
    grid-column: 1 / 3;
    padding: 1rem 0;
    display: flex;
    font-size: 0.875rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    ul,
    li,
    button {
        width: 100%;
        text-align: left;
    }

    button {
        padding: 0.5rem 1rem;
        transition: all ease-in 0.2s;

        &.active {
            background-color: var(--medlightgrey);
        }

        &:hover {
            background-color: var(--medlightgrey);
            transition: all ease-in 0.2s;
        }

        &.add-list {
            color: var(--darkgrey);
        }
    }
}

.main-content {
    position: relative;
    grid-column: 3 / 13;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    .todo-input {
        width: 100%;
    }
}

.todos-section {
    grid-column: 2 / 12;
    grid-row: 2 / 12;

    input {
        
    }
}

.todo-input {
    padding: 0.2rem;
    padding-left: 1.625rem;

    &:focus {
        outline: 0;
    }
}

.todo {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    margin-bottom: 1rem;
    position: relative;

    &:hover {
        .todo-actions {
            opacity: 1;
            visibility: visible;
            transition: all ease-in 0.2s;
        }
    }
}

.todo-text {
    display: flex;
    flex-direction: column;
    &.complete {
        color: var(--darkgrey);
        text-decoration: line-through;
    }
}

.todo-title {
    font-weight: 400;
}

.todo-desc {
    font-size: 0.875rem;
    color: var(--darkgrey);   
}

.todo-priority {
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    align-self: flex-start;
    border-radius: 4px;
    color: var(--white);
    margin-top: 0.5rem;

    &.low {
        background-color: var(--blue);
    }

    &.medium {
        background-color: var(--yellow);
    }

    &.high {
        background-color: var(--red);
    }
}

.todo-actions {
    margin-left: auto;
    opacity: 0;
    visibility: visible;
    transition: all ease-in 0.2s;;
    display: flex;
    gap: 0.3rem;

    .actions-button {
        background-image: url("../images/elipsis.svg");
    }
}

/* todo actions dropdown */
.actions-container {
    background-color: var(--white);
    border: 1px solid var(--lightgrey);
    position: absolute;
    bottom: -32px;
    right: 0;
}

.actions-list {
    border-radius: 6px;
    border: 1px solid var(--medlightgrey);
}

.action-link {
    background-color: inherit;
    cursor: pointer;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    padding: 0.5rem;
    transition: all ease-in 0.2s;
    
    &:hover {
        background-color: var(--lightgrey);
        transition: all ease-in 0.2s;
    }
}

.action-image {
    flex-grow: 0;
    flex-shrink: 0;
}

.action-text {
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 0.875rem;
}

.edit-todo {
    background-color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 600px;
    padding: 1rem;
    border-left: 1px solid var(--medlightgrey);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    &.hide {
        display: none;
    }
}